@charset "utf-8";

html , body , div , span , applet , object , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , blockquote , pre , a , abbr , acronym , address , big , cite , code , del , dfn , em , img , ins , kbd , q , s , samp , small , strike , strong , sub , sup , tt , var , b , u , i , center , dl , dt , dd , ol , ul , li , fieldset , form , label , legend , table , caption , tbody , tfoot , thead , tr , th , td , article , aside , canvas , details , embed , figure , figcaption , footer , header , hgroup , menu , nav , output , ruby , section , summary , time , mark , audio , video , textarea {margin:0; padding:0; border:0; box-sizing:border-box; -webkit-overflow-scrolling:touch;}
article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section, main {display:block;}
body {font-size:18px; line-height:1.2;}
body, button, input, select, table, textarea {font-family:"Noto Sans KR","HelveticaNeue-Light","AppleSDGothicNeo-Medium","Malgun Gothic","맑은 고딕","AppleGothic","Sans-serif","Dotum","Verdana",sans-serif; color:#666;}
* {-webkit-text-size-adjust:none; -webkit-tap-highlight-color:transparent; outline:none;}
ol , ul {list-style:none;}
em , i , u , b {font-style:normal; font-weight:normal; text-decoration:none;}
a {color:#333; text-decoration:none;}
img {max-width:100%; vertical-align:top;}
table {width:100%; border:0; border-collapse:collapse; border-spacing:0; word-break:break-all; table-layout:fixed;}
button {background-color:transparent; margin:0; padding:0; border:0; cursor:pointer; -webkit-appearance:button;}
input::-webkit-input-placeholder {color:#999;}
textarea::-webkit-input-placeholder {color:#999;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {-webkit-appearance:none;}
input[type=text],
input[type=number],
input[type=password] {background:none; margin:0; padding:0; border:1px solid #ccc; outline:none; -webkit-appearance:none; font-family:inherit; appearance:none; -webkit-appearance:none;}
textarea {resize:none; appearance:none; -webkit-appearance:none;}
select {background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 13 7'%3e%3cpath fill-rule='evenodd' fill='%23666' d='M12.989.709L7.221 6.291h.001l-.722.698L.012.709.733.011l5.768 5.582L12.268.011l.721.698z'/%3e%3c/svg%3e") calc(100% - 20px) 50% no-repeat; background-size:13px 7px; padding-right:44px; border-width:1px; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
select::-ms-expand {display:none;}
caption, legend {position:absolute; top:0; left:-9999em;}
.blind {position:absolute; top:0; left:-9999em; font:0/0 a; text-indent:-999em;}
